{{>header}}

<table class="table table-sm table-bordered">
  <h4 style="text-align: center; padding: 20px; font-weight: bold;">Danh sách tài khoản</h4>
  <thead class="table-info">
    <tr class="text-uppercase text-center">
      <th>Email</th>
      <th>Mật khẩu</th>
      <th>Trạng thái</th>
    </tr>
  </thead>

  {{#each users}}
  <tr class="align-middle">
    <td>{{this.name}}</td>
    <td>{{this.password}}</td>
    <td>
      <div class="d-flex justify-content-around">
        <a href="/users/delete/{{this._id}}" class="btn btn-danger btn-sm">Xóa</a>
      </div>
    </td>
  </tr>
  {{/each}}

</table>