<div class="wrapper d-flex align-items-stretch">
    <!--SIDEBAR-->
    <div id="sidebar">
        <div class="p-3">
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="/home">Trang chủ</a>
                </li>
                <li>
                    <a href="/users/list">Danh sách tài khoản</a>
                </li>
                <li>
                    <a class="dropdown-toggle" data-bs-toggle="collapse" href="#menuProduct" role="button"
                        aria-expanded="false" aria-controls="menuProduct">
                        Quản lí sản phẩm
                    </a>
                    <ul class="collapse" id="menuProduct">
                        <li><a href="/products/add">Thêm mới sản phẩm</a></li>
                        <li><a href="/products/list">Danh sách sản phẩm</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark  pr-12">
        </nav>
    