<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="loginMain">
        <h2>Đăng nhập</h2>
        <form action="/login" method="post">
            <div class="form-floating mb-3">
                <input type="text" name="name" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                <label class="form-check-label" for="rememberPasswordCheck">
                    Remember password
                </label>
            </div>
            <div class="d-grid">
                <input class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
            </div>
            
        </form>

        <p style="text-align: center; padding: 20px">Chưa có tài khoản?<a href="./signup"> Đăng kí</a></p>
        
    </div>


    
</body>
</html>